<nav class="navbar navbar-expand-lg navbar-expand navbar-dark bg-primary p-5">
  <a class="navbar-brand" href="/members">
    <span class="heavier">E</span><span class="lighter">xpense</span> 
    <span class="heavier">T</span><span class="lighter">rack</span><span class="heavier">r</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bars fa-3x" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/budget">Budget</a>
          <a class="dropdown-item" href="/members">Subscriptions</a>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 darker-background mt-3">
        <h2 class="my-3 lighter text-center py-3">Create New Subscription</h2>
        <form class="subscription">
          <div class="form-group">
            <label class="heavier" for="subscription-name-input">Subscription Name</label>
            <input type="text" class="form-control form-control-lg" id="subscription-name-input" placeholder="Subscription Name">
          </div>
          <div class="form-group">
            <label class="heavier" for="subscription-price-input">Price</label>
            <input type="number" step="0.01" class="form-control form-control-lg" id="subscription-price-input" placeholder="Price">
          </div>
          <div class="form-group">
            <label class="heavier" for="subscription-frequency-input">Frequency</label>
            <select id="subscription-frequency-input" class="form-control form-control-lg">
              <option selected>Choose Frequency...</option>
              <option value="Weekly">Weekly</option>
              <option value="Monthly">Monthly</option>
              <option value="Annually">Annually</option>
            </select>
          </div>
          <div class="form-group">
            <label class="heavier" for="subscription-category-input">Category</label>
            <select id="subscription-category-input" class="form-control form-control-lg">
              <option selected>Choose Category...</option>
              <option value="Entertainment">Entertainment</option>
              <option value="Retail">Retail</option>
              <option value="Utilities">Utilities</option>
              <option value="Rent/Mortgage">Rent/Mortgage</option>
              <option value="Health/Fitness">Health/Fitness</option>
              <option value="Food/Grocery">Food/Grocery</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label class="heavier" for="subscription-date-input">Withdrawal Date</label>
            <input type="number" min="1" max="31" class="form-control form-control-lg" id="subscription-date-input" placeholder="Withdrawal Date">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-lg btn-dark btn-block btn-md-inline mt-4">Submit</button>
        </form>
        <br />
      </div>
      <div class="col-md-6">
        {{#each subscriptions }}
          <div class="card mx-auto my-3">
            <h2 class="card-header lighter">
              <span>
                {{dataValues.name}}
              </span>
              <span class="float-right">
                <button type="button" class="btn btn-lg btn-dark"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-lg btn-danger"><i class="fas fa-trash-alt"></i></button>
              </span>
            </h2>
            <div class="card-body">
                <h2 class="card-text font-weight-normal text-center text-muted">${{dataValues.price}}</h2>
                <hr>
                <h4 class="card-text font-weight-normal text-center text-muted">Withdrawal: <i>{{dataValues.withdrawalDate}}{{dataValues.withdrawalDateOutput}} ({{dataValues.frequency}})</i></h4>
                <hr>
                <h4 class="card-text font-weight-normal text-center text-muted"><i>{{dataValues.category}}</i></h4>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/subscription.js"></script>